.transactionPage{
  display: flex;
 
  flex-wrap: wrap;
  margin: 5px;
  padding: 15px;
  
}
.transactionShow{

width: 35%;
margin-left: 30px;
font-family: 'Roboto', sans-serif; /* Apply the custom font family */
padding: 20px;

}


.transactionShow .header {
  display: flex;
  justify-content: space-between; /* Espacer les éléments de chaque côté */
  align-items: center; /* Aligner verticalement au centre */
  margin-bottom: 20px; /* Espacement sous l'en-tête */
}

.transactionShow .header h4,
.transactionShow .header h5 {
  margin: 0; /* Supprimer la marge par défaut */
}

.transactionShow .card {
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.transactionShow .card-body {
  padding: 15px;
}

.transactionShow .icon {
  margin-right: 5px;
  color: #007bff;
}


  /* src/TransactionForm.css */
.formTransaction {
  width: 47%;
  background-color: #f8f9fa; /* Couleur de fond légère */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
  max-width: 500px; /* Largeur maximale pour le formulaire */
  max-height: 500px; /* Largeur maximale pour le formulaire */
  margin: 0 auto; /* Centrer le formulaire horizontalement */
 
}

.formTransaction .form-group {
  margin-bottom: 15px; /* Espacement entre les groupes de formulaires */
}

.formTransaction .form-label {
  font-weight: bold;
  color: #333;
}

.formTransaction .form-control {
  border-radius: 4px;
  border: 1px solid #ccc;
}

.formTransaction .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.formTransaction .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  width: 100%; /* Largeur complète pour le bouton */
  font-size: 16px; /* Taille de police plus grande */
  padding: 10px; /* Espacement interne */
  border-radius: 4px;
  margin-top: 25px;
}

.formTransaction .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

