.transactionPage{
  display: flex;
  justify-content:space-between;
  margin: 5px;
  padding: 15px;
  
}
.transactionShow{

width: 35%;
margin-left: 30px;
}
.formTransaction{
width: 47%;
}
.icon {
  margin-right: 8px;
}
